.MuiOutlinedInput-root {
  border-radius: 20px;

  fieldset {
    border-color: lightgray;
  }

  &.Mui-focused fieldset {
    border-color: lightgray;
  }

  &:hover fieldset {
    border-color: lightgray;
  }
}

.MuiInputLabel-root {
  color: gray;

  &.Mui-focused {
    color: #555555;
  }
}

.MuiInputBase-input {
  color: white;
}
