.App {
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;
  margin: 0px auto;
  border-left: solid #303030 1px;
  border-right: solid #303030 1px;

  .header_content_block {
    width: 100%;
    display: flex;

    .left_block,
    .right_block {
      display: flex;
    }
  }
  .left_block {
    width: 40%;
    height: 70px;
  }
  .right_block {
    width: 60%;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100px;
    .filter_block {
      width: 100%;
    }
    .setting_block {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .reset_btn_block {
        display: flex;
        justify-content: flex-start;
        .reset_btn {
          color: #c5c524;
        }
      }
      .create_btn_block {
        display: flex;
        justify-content: flex-end;
        .add_btn {
          color: #c5c524;
        }
        .create_btn {
          color: #c5c524;
        }
      }
    }
  }
}

.cars_block {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  gap: 40px;
  margin-top: 30px;
}
.modal {
  z-index: 1000;
  .modal_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
}

.navigation {
  margin-top: 20px;
  display: flex;
  justify-content: center;

  .page_btn {
    color: #c5c524;
    border-color: #c5c524;
  }
}
